<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
      http-equiv="content-Type"
    />
    <title>Title</title>
  </head>
  <body>
    <p>Modify Student</p>
    {% if student_info %}
    <form action="{% url 'students:modCon' %}" method="post">
      <!-- {% csrf_token %} 보안 상 입력? -->
      {% csrf_token %} Name : {{student_info.s_name}}
      <input
        type="hidden"
        name="name"
        id="name"
        value="{{student_info.s_name}}"
      />
      <br />

      <label for="major">Major: </label>
      <input
        type="text"
        name="major"
        id="major"
        value="{{student_info.s_major}}"
      /><br />

      <label for="age">Age: </label>
      <input
        type="text"
        name="age"
        id="age"
        value="{{student_info.s_age}}"
      /><br />

      <label for="grade">Grade: </label>
      <input
        type="text"
        name="grade"
        id="grade"
        value="{{student_info.s_grade}}"
      /><br />

      <label for="gender">Gender: </label>
      <input
        type="text"
        name="gender"
        id="gender"
        value="{{student_info.s_gender}}"
      /><br />

      <input type="submit" name="Modify" />
    </form>
    {% else %}
    <p>student: 0</p>
    {% endif %}
  </body>
</html>
